<div class="h-screen w-full flex-col items-center p-8">
  <h1 class="text-2xl font-semibold my-4 text-center">Parent</h1>
  <div class="w-full flex justify-between gap-10 px-10">
    <input class="grow px-3 py-2 rounded-md border border-4 border-gray-400" type="text" placeholder="Set Child 2 title" [(ngModel)]="secondChildTitle">

    <!-- <button (click)="fetchList()" class="bg-red-400 hover:bg-red-600 text-white rounded-md px-3 py-2">Fetch list</button> -->
    <button (click)="clearAll()" class="bg-red-400 hover:bg-red-600 text-white rounded-md px-3 py-2"> Clear All</button>
  </div>
  <div class="flex flex-row gap-10 p-10 h-5/6 w-full">
    <app-child-one class="w-1/3" (add)="addItem($event)"></app-child-one>
    <app-child-two class="w-1/3" [title]="secondChildTitle" [list]="secondChildData" (deleteFromList)="deleteItem($event)"></app-child-two>
    <app-child-three class="w-1/3"></app-child-three>
  </div>
</div>
